@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Oswald&display=swap");

body {
	font-family: "Oswald", sans-serif;
}

.font-text {
	font-family: "Courgette", cursive;
}

.header {
	height: 65vh;
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.6) 0%,
			rgba(0, 0, 0, 0.6) 100%
		),
		url("../img/header.jpg");
	background-size: cover;
	background-position: center;
}
